node_modules
.next
.git
.env*
MUSIO-2.0-yt-backend/node_modules
MUSIO-2.0-yt-backend/.env
MUSIO-2.0-yt-backend/.git
MUSIO-2.0-yt-backend/.bin
MUSIO-2.0-yt-backend/*.log
MUSIO-2.0-yt-backend/yt-song-*
